@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #f7f7f4;
  --color-fg: #26251e;
  --color-accent: #f54e00;
  --color-brand: #26251e;
  --color-card: #f2f1ed;
  --color-muted: #5c5b55;
}

@layer base {
  a {
    @apply text-dd-accent underline-offset-2 hover:underline;
  }
}
